.about{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 20px;
   

}
.about-left{
    
    position: relative;
}
.about-img{
    width:60%;
    margin-left: 100px;
}
.play-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60px;
}
.about-right{
    
    line-height: 1.7;
}
.about-right h3{
   font-size: 16px;
   font-weight: 600;
   color: rgb(20, 20, 133);
}
.about-right h2{
    color:rgb(99, 92, 92);
    width:500px;
}
.about-right p{
    color: gray;
    width: 500px;
}