.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #767676;
    padding: 15px;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    color: #767676;
}