.testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn,.back-btn{
    position: absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
    width:50px;
    background: rgb(32, 32, 130);
    cursor: pointer;
    border-radius: 50%;
    padding: 15px;
}
.back-btn{
    left:0;
    right: auto;
}
.slider{
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
   
  
}
.slider ul li{
    list-style: none;
    width:50%;
    padding: 20px;
    
}
.slide{
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding: 40px;
    border-radius: 10px;
    line-height: 1.4;
    color: #676767; 
   
}
.slide img{
    border-radius: 50%;
    width:65px;
    margin-right: 10px;
    border: 4px solid rgb(13, 13, 121);
}
 .user-info{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
}
.user-info h3{
    color: rgb(13, 13, 121);
}